.navbar {
	background-color: rgba(27, 26, 31);
	align-items: center;
	justify-content: right;
	overflow: hidden;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
}

.navbar a {
	float: right;
	color: white;
	text-align: center;
	padding-right: 1em;
	padding-top: 0.5em;
	padding-left: 1em;
	padding-bottom: 0.5em;
	text-decoration: none;
	font-size: 1em;
}

.navbar a:hover {
	background-color: darkgreen;
	color: greenyellow;
}

.navbar a.active {
	background-color: lightgreen;
	color: darkgreen;
}

.banner {
	width: 100vw;
	height: 50vh;

	display: flex;
	justify-content: center;
	align-items: center;

	text-align: center;
	text-shadow: 1px 1px 1px rgba(27, 26, 31),
					-1px -1px 1px rgba(27, 26, 31);
	color: white;

	background-image: url('/src/images/ProfileBG.png');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.banner a:hover {
	background-color: rgba(218, 50, 98, 0.63);
}

.banner .btn-line {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 1em;
}

.banner h1 {
	font-size: 5em;

	margin-top: 0;
	margin-bottom: 0.25em;
}

.banner .btn {
	display: block;
	width: 125px;

	padding: 1em;
	margin-top: 25px;
	margin-left: 0.5em;
	margin-right: 0.5em;

	color: white;
	text-decoration: none;
	font-size: 1em;

	border: 3px solid white;
	border-radius: 20px;

	background-color: rgba(31, 26, 29, 0.63);
}

.page-content {
	margin: auto;
	width: 50vw;
	justify-content: left;
	text-align: left;
}

.page-content h3 {
	color: white;
	justify-content: left;
}

html {
	background-color: rgb(27, 26, 31);
}

body {
	margin: 0;
	font-family: sans-serif;
}

h1 {
	text-align: center;
	color: white;
}

h2 {
	text-align: center;
	color: darkgreen;
}

a {
	color: rgb(24, 216, 24);
}